#python version 3.9.13 use a virtual environment and download every package
# every package install supporting 3.9.13
ultralytics
pyautogui
cvzone
streamlit 
twilio
numpy
opencv-contrib-python-headless
streamlit_webrtc==0.47.0
