#python version 3.9.13 use a virtual environment and download every package
# every package install supporting 3.9.13
ultralytics
pyautogui
cvzone
streamlit 
twilio
numpy
opencv-python-headless

